*.safetensors
*.model
*.gguf
*.bin
*.pt
*.pth
unsloth_compiled_cache
!test folder
**/old/**

**/models/**
!**/models/
!**/models/**/finetuned/
!**/models/**/finetuned/**/ollama/
!**/models/**/finetuned/**/ollama/**

